body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #2c659b; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe {
  border: none;
  border-bottom: 1px solid #2c659b;
  border-collapse: collapse;
  text-align:center;
  padding: 30px;
  margin-bottom: 40px;
  font-size: 0.9em;
  display: inline-block;
  float: left;
}

.dataframe th, .dataframe td{
  border: none;
  border-bottom: 1px solid #2c659b;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

plot{
  float: right;
  width:30%;
  /* display: inline-block; */
}


.data th {
    background-color: #8faac3;
    color: white;
}


tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}